<div class="container">
	<div class="col-lg-10 col-md-offset-1 box-signup">
		<div class="ibox border-left border-right border-bottom">
			<div class="ibox-title border-bottom">
				<h5><%= t('.sign_up') %></h5>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-xs-12 col-md-8 b-r col-md-offset-2">
						<div class="form-group col-xs-12 col-sm-12">
							<h3 class="m-t-none m-b"><%= t('.sign_up') %></h3>
							<p>Sign in today for more expirience.</p>
						</div>
						<div class="clear-fix"></div>
						<%= form_for(resource, :url => registration_path(resource_name), :html => {:autocomplete => "off"}) do |f| %>
							<div class="form-group col-xs-6 col-sm-6">
								<%= f.email_field :email, :placeholder => "exemple@email.com", :title => t('registrations.new.enter_email'), :required => true, class: "form-control" %>
							</div>

							<div class="form-group col-xs-6 col-sm-6">
								<%= f.text_field :username, :placeholder => "username", :title => t('registrations.new.enter_username'), :required => true, :pattern => "[A-Za-z0-9_]+", class: "form-control" %>
							</div>

							<div class="form-group col-xs-12 col-sm-12">
								<%= f.password_field :password, :placeholder => "••••••••", :title => t('registrations.new.enter_password'), :required => true, :pattern => "......+", class: "form-control" %>
							</div>

							<div class="form-group col-xs-12 col-sm-12">
								<%= f.password_field :password_confirmation, :placeholder => "••••••••", :title => t('registrations.new.enter_password_again'), :required => true, :pattern => "......+", class: "form-control" %>
							</div>

							<div class="form-group col-xs-12 col-sm-12">
								<% if AppConfig.settings.captcha.enable? %>
	                <div class="control-group" id="captcha">
	                  <%= show_simple_captcha(:object => 'user', :code_type => 'numeric') %>
	                </div>
	              <% end %>
	              <%= invite_hidden_tag(invite) %>
							</div>

							<div class="form-group col-xs-12 col-sm-12">
								<% if AppConfig.settings.terms.enable? %>
		              <div id="terms" class="text-center">
		                <%= t('.terms', terms_link: link_to(t('.terms_link'), terms_path, target: "_blank")).html_safe %>
		              </div>
		            <% end %>
							</div>

							<div class="clear-fix"></div>

							<div class="form-group col-xs-12 col-sm-12">
								<div class="form-group col-md-offset-5">
									<%= f.submit t('.continue'), class: "btn btn-primary", data: {disable_with: t('.submitting')} %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>