-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  - if @stream.tag_name
    = @stream.display_tag_name
  - else
    = t('.whatup', :pod => @pod_url)

.container-fluid#tags_show
  .row-fluid
    .container.container-margin-top
      -#.col-md-4.offset1
      -#  %h3
          =# t('people', :count => @stream.tagged_people_count)
      .span-4#leftNavBar
        #home_user_badge
          = owner_image_link
          %h4
            = link_to current_user.first_name, local_or_remote_person_path(current_user.person)

        .side_stream.stream
          = render :partial => 'people/index', :locals => {:people => @stream.tagged_people}

      .span-13.append-0
        #aspect_stream_container.stream_container
          #author_info
            %h2
              = @stream.display_tag_name

          -# if current_user
            =# render 'publisher/publisher', :selected_aspects => @stream.aspect_ids, :aspect_ids => @stream.aspect_ids, :aspect => @stream.aspect

          %hr

          #main_stream.stream

          #paginate
            %span.loader.hidden

      .span-5.rightBar.last
        = render 'shared/right_sections'
