<div class="container" style="position:relative;">

  <a href="/stream">
    <div alt="Accademicos" class="accademicos_header_logo">
    </div>
  </a>

  <div id="nav_badges">
    <ul class="nav navbar-nav" style="margin-left: 125px;">
      <li class="dropdown">
        <a id="notification_badge" class="dropdown-toggle count-info" data-toggle="dropdown" href="/notifications" title="{{t "header.notifications"}}">
          <i class="fa fa-bell"></i>&nbsp;
            <span class="label label-danger badge_count {{#unless current_user.notifications_count}} hidden {{/unless}}">
              {{current_user.notifications_count}}
            </span>
        </a>
        <ul class="dropdown-menu dropdown-alerts" id="notification_dropdown">
          <li>
            <div class="pull-right">
              <a href="#" id="mark_all_read_link" class="{{#unless current_user.notifications_count}}disabled{{/unless}}">
                {{t "header.mark_all_as_read"}}
              </a>
            </div>
            <h4>
              {{t "header.recent_notifications"}}
            </h4>
          </li>
          <li class="divider"></li>
          <li>
            <div class="notifications">
              <div class="ajax_loader center">
                <i class="fa fa-spin fa-spinner fa-2x grey"></i>
              </div>
            </div>
            <li class="divider"></li>
            <div class="view_all center">
              <a href="/notifications" id="view_all_notifications">
                {{t "header.view_all"}} <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a id="conversations_badge" class="count-info" href="/conversations" title="{{t "header.conversations"}}">
          <i class="fa fa-envelope"></i>&nbsp;
          <span class="label label-danger badge_count {{#unless current_user.unread_messages_count}} hidden {{/unless}}">
            {{current_user.unread_messages_count}}
          </span>
        </a>
      </li>
    </ul>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="pull-left innerR">
          <img alt="{{current_user.name}}" class="img-circle profile" src="{{current_user.avatar.small}}" title="{{current_user.name}}" />
        </span>
        <span><strong>{{current_user.name}}</strong></span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/people/{{current_user.guid}}">{{t "header.profile"}}</a></li>
        <li><a href="/contacts">{{t "header.contacts"}}</a></li>
        <li><a href="/user/edit">{{t "header.settings"}}</a></li>
        <li><a href="/help">{{t "header.help"}}</a></li>
        {{#if current_user.admin}}
        <li><a href="/admins/user_search">{{t "header.admin"}}</a></li>
        {{/if}}
        <li><a href="/users/sign_out" data-method="delete">{{t "header.log_out"}}</a></li>
      </ul>
    </li>
  </ul>

  <div id="global_search">
    <form accept-charset="UTF-8" action="/search" class="search_form navbar-form navbar-left" method="get">
        <input name="utf8" type="hidden" value="✓" />
        <input id="q" name="q" placeholder="{{t "header.search"}}" results="5" type="search" autocomplete="off" class="ac_input form-control header-search" />
    </form>
  </div>

  <div id="lightbox">
    <div id="lightbox-content">
      <a href="#" id="lightbox-close-link">[x] {{t "header.close"}}</a>
      <img id="lightbox-image">
      <div id="lightbox-navigation">
        <div id="lightbox-scrollleft">«</div>
        <div id="lightbox-imageset"></div>
        <div id="lightbox-scrollright">»</div>
      </div>
    </div>
  </div>
  <div id="lightbox-backdrop"></div>

</div>
